body {
    text-align: center;
    font-family: 'Courier New', monospace;
    padding: 0;
    margin: 0;
    background: rgb(44, 42, 43);
}
html {
    scroll-behavior: smooth;
}
button {
    margin-top: 5px;
    color: rgb(239, 234, 225);
    font-size: 15px;
    background: rgba(0,0,0,0);
    border: 2px solid rgb(239, 234, 225);
}
button:hover {
    cursor: pointer;
    color: rgb(208,255,20);
    border: 2px solid rgb(208,255,20);
}
.navbar {
    text-align: center;
    border-top: 2px solid rgb(239, 234, 225);
    border-bottom: 2px solid rgb(239, 234, 225);
    height: 36px;
    background: rgb(88, 75, 79);
    width: 100%;

}
.homebody {
    color: rgb(239, 234, 225);
    text-align: center;
    margin-top:  30px;
    margin-left: 20px;
    font-size: 20px;
}
.downloadbody {
    color: rgb(239, 234, 225);
    text-align: left;
    margin-top:  30px;
    margin-left: 20px;
    font-size: 20px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(85,206,255,0);
}
::-webkit-scrollbar-thumb {
  background: rgb(239, 234, 225);
}
#downloadtext {
    border:2px solid rgb(239, 234, 225);
    color: rgb(239, 234, 225);
    border-radius: 5px;
    font-weight: bold;
    width: 525px;
    resize: none;
    font-size: 13px;
    background: rgba(0,0,0,0);
    outline: rgba(0,0,0,0);
}
#intro {
    text-align: center;
    border: 0px solid rgb(0,0,0);
    padding: 10px;
    color: rgb(239, 234, 225);
    font-weight: bold;
    height: 170px;
    width: 525px;
    resize: none;
    font-size: 15px;
    background: rgba(0,0,0,0);
    outline: rgba(0,0,0,0);
}
#gitbtn {
    background-color: rgb(0,0,0,0);
    color: rgb(239, 234, 225);
    padding: 10px 22px;
    font-size: 17px;
    border: 2px solid rgb(239, 234, 225);
}
#gitbtn:hover {
    color: rgb(208,255,20);
    border: 2px solid rgb(208,255,20);
}
