body {
    background-color: #ffffff;
    color: #1d1c1c;
    font-family: 'Courier New', Courier, monospace;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pdis {
    background: transparent;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -2;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

#body {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
}

.table {
    border: 0px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10px;
}
#board {
    background-color: #f5ccab;
    color: #f0832b;
    width: 100%;
}

#mal {
    background-color: #ABDEF5;
    color: #3fbdf7;
}

#eng {
    background-color: #DFB9E8;
    color: #cb38ec;
}

#ss {
    background-color: #e6e097;
    color: #918815;
}

#math {
    background-color: #F0C7C2;
    color: #ee4630;
}

#sci {
    background-color: #B4EDB8;
    color: #23c22e;
}