@font-face {
    font-family: deffont;
    src: url("assets/epoca.ttf");
  }

body {
    background-color: #dbdbdb;
    color: #1d1c1c;
    text-align: center;
    font-family: deffont;
    font-size: xx-large;
    padding-top: 100px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



button {
    background-color: #1d1c1c;
    border: 0px;
    font-family: deffont;
    color: #dbdbdb;
    font-size: large;
    border-radius: 2px;
    padding: 12px;
}

button:hover {
    background-color: #131212;
    padding: 10px;
    color: #c7c6c6;
}

#yoyoimg {
    top: 0;
    right: 0;
    position: fixed;
    max-width: 100%;
    border-left: 2px solid #1d1c1c;
    border-bottom: 2px solid #1d1c1c;
    border-bottom-left-radius: 5px;
    z-index: -1;
}

#pdis {
    background: transparent;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -2;
}
#aboutme {
    max-width: 100%;
    font-family: deffont;
    font-size: large;
    text-align: center;
    padding: 15px;
    z-index: 2;
}
#projects {
    max-width: 100%;
    font-family: deffont;
    font-size: large;
    text-align: center;
    padding: 15px;
    z-index: 2;
}

.imgbtn {
    width: 65px;
    height: 65px;
}
.imgbtn:hover {
    width: 75px;
    height: 75px;
}

#inner {
    top: 100px;
    padding: 10px;
    position: fixed;
    background: transparent;
    transition:all 0.2s linear;
}

#octo {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
